body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    background-color: #008CBA;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #005F6B;
}
